.mystyle {
    margin: 8 px 8 px 8 px 8 px;
    text-align: center;
    width: 30 %;
    padding: 25px;
    border: solid 2 px black;
    border-radius: 50 px;
    background-color: lightblue;
    color: white;
    fronnt-size: 25 px;
}

.mystyle2 {
    background-color: lightgreen;
    color: black;
}